.example-spacer {
    flex: 1 1 auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

.mat-grid-tile .mat-figure {
    height: 50% !important;
}
.my-grid-tile {
    height: 50% !important;
}

.example-margin {
    margin: 0 40px;
    left: 50%;
    margin-left: -4em;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
