<section class="mat-title mat-typography">
  <h2 class="mat-h2">&nbsp;&nbsp;Edit Windows/Door</h2>
</section>
<mat-card>
  <div class="example-container">
    <form class="example-container" [formGroup]="editDoorForm">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Sensor Auth"
          formControlName="sensorAuth"
          required
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Lock/Unlock Auth"
          formControlName="triggerAuth"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Worker Name"
          formControlName="workerName"
        ></textarea>
      </mat-form-field>
      <section class="example-section">
        <mat-checkbox formControlName="rechargeableBat">Is rechargeable battery</mat-checkbox>
      </section>

      <button
        mat-raised-button
        color="primary"
        (click)="saveDoor()"
        [disabled]="!editDoorForm.valid"
      >
        Update
      </button>
    </form>
  </div>
</mat-card>