<mat-action-list>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (click)="back()" value="bold">Back</mat-button-toggle>
    <mat-button-toggle (click)="addFeedback()" value="bold">
      Add Feedback
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-action-list>

<mat-list>
  <mat-list-item *ngFor="let feedback of feedbacks">
    <h3 matLine>{{ feedback.feedbackDate | date: "medium" }} - {{ feedback.feedbackTime }}</h3>
    <p matLine>&nbsp;</p>
    <p matLine>{{ feedback.device }}</p>
    <p matLine>&nbsp;</p>
    <p matLine>{{ feedback.comment }}</p>
    <p matLine>&nbsp;</p>
    <p matLine>{{ feedback.doorName }}</p>
    <p matLine>&nbsp;</p>
    <p matLine>{{ feedback.guardEmail }}</p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>